* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url(/assets/img/pexels-fwstudio-172289.jpg);
  background-size: cover;
}

#toggleButton {
  margin-top: 40px;
  margin-left: 50px;
}

.calc {
  position: relative;
  min-height: 100vh;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%);
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(100px, auto) repeat(5, 100px);
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 10, 21); /* Agregando sombra en la derecha y abajo */
}

.span {
  grid-column: span 2;
}
